{% extends 'base.html.twig' %}

{% block title %}
  Hello NewsletterController!
{% endblock %}

{% block body %}
  <h1 class="text-center text-5xl mt-20 mb-6">Inscription à la newsletter</h1>
  <h2 class="text-3xl text-center mb-20">Ne manquez aucune information</h2>

  <div class="max-w-[500px] mx-auto">{{ form(newsletterForm) }}</div>
{% endblock %}
