{% extends 'base.html.twig' %}

{% block title %}
  Hello NewsletterController!
{% endblock %}

{% block content %}
  <h1 class="text-4xl uppercase">Inscription à la newsletter</h1>
  <h2 class="text-3xl">Ne manquez aucune information</h2>

  <div class="max-w-[300px] mx-auto">{{ form(newsletterForm) }}</div>
{% endblock %}
