{% extends 'base.html.twig' %}

{% block title %}
  Hello NewsletterController!
{% endblock %}

{% block content %}
  <h1>Inscription à la newsletter</h1>
  <h2>Ne manquez aucune information</h2>

  <div>{{ form(newsletterForm) }}</div>
{% endblock %}
