{% extends 'base.html.twig' %}

{% block title %}
  Hello CategoriesController!
{% endblock %}

{% block body %}
  <h1 class="text-center text-5xl mb-8">Catégories</h1>

  <div>
    {% for category in categories %}
      <p>
        <a href="{{ path('app_category_item', { id: category.id }) }}">{{ category.name }}</a> ({{ category.articles|length }} articles)
      </p>
    {% endfor %}
  </div>
{% endblock %}
